rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Admins can read their own doc
    match /admins/{adminId} {
      allow read, write: if request.auth != null
                          && request.auth.uid == adminId;
    }

    // Students can read only their own doc
    match /students/{studentId} {
      allow read: if request.auth != null
                  && request.auth.uid == studentId;

      allow update: if request.auth != null
                    && request.auth.uid == studentId;

      allow create: if request.auth != null
                    && request.auth.uid == studentId;
    }

    // Notifications
    match /notifications/{notificationId} {
      allow read: if request.auth != null;

      allow create: if request.auth != null
                    && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
      allow update: if request.auth != null
                    && (exists(/databases/$(database)/documents/admins/$(request.auth.uid))
                        || exists(/databases/$(database)/documents/students/$(request.auth.uid)));
      allow delete: if false;
    }
  }
}
